@layer modules {
  :root {
    --font-primary: ElMessiri, sans-serif;
    --font-secondary: YellowMagician, sans-serif;
  }
  /* ----------------------------------------- */
  /*  Fonts                                    */
  /* ----------------------------------------- */
  @font-face {
    font-family: ElMessiri;
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/elmessiri-bold.woff2) format("woff2"), url(../fonts/elmessiri-bold.woff) format("woff");
  }
  @font-face {
    font-family: ElMessiri;
    font-style: italic;
    font-weight: 700;
    src: url(../fonts/elmessiri-semibold.woff2) format("woff2"), url(../fonts/elmessiri-semibold.woff) format("woff");
  }
  @font-face {
    font-family: ElMessiri;
    font-style: italic;
    font-weight: 400;
    src: url(../fonts/elmessiri-medium.woff2) format("woff2"), url(../fonts/elmessiri-medium.woff) format("woff");
  }
  @font-face {
    font-family: ElMessiri;
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/elmessiri-regular.woff2) format("woff2"), url(../fonts/elmessiri-regular.woff) format("woff");
  }
  @font-face {
    font-family: YellowMagician;
    src: url(../fonts/YellowMagician.woff2) format("woff2"), url(../fonts/YellowMagician.woff) format("woff");
  }
}