@layer modules {
  /* ----------------------------------------- */
  /*  Sheet Styles                             */
  /* ----------------------------------------- */
  :root {
    --font-primary:Fontin,sans-serif;
    --font-secondary:Yataghan,sans-serif;
  }
  /* ----------------------------------------- */
  /*  Fonts                                    */
  /* ----------------------------------------- */
  @font-face {
  font-family:Fontin;
  font-style:normal;
  font-weight:700;
  src:url(../fonts/Fontin_Sans_B_45b.woff2) format("woff2"),url(../fonts/Fontin_Sans_B_45b.woff) format("woff")
  }
  @font-face {
  font-family:Fontin;
  font-style:italic;
  font-weight:700;
  src:url(../fonts/Fontin_Sans_BI_45b.woff2) format("woff2"),url(../fonts/Fontin_Sans_BI_45b.woff) format("woff")
  }
  @font-face {
  font-family:Fontin;
  font-style:italic;
  font-weight:400;
  src:url(../fonts/Fontin_Sans_I_45b.woff2) format("woff2"),url(../fonts/Fontin_Sans_I_45b.woff) format("woff")
  }
  @font-face {
  font-family:Fontin;
  font-style:normal;
  font-weight:400;
  src:url(../fonts/Fontin_Sans_R_45b.woff2) format("woff2"),url(../fonts/Fontin_Sans_R_45b.woff) format("woff")
  }
  @font-face {
  font-family:Yataghan;
  src:url(../fonts/Yataghan-Regular.woff2) format("woff2"),url(../fonts/Yataghan-Regular.woff) format("woff")
  }
}