/* Variables Foundry VTT */
:root {
    --color-border-highlight: #af1689;
    --color-border-highlight-alt: #af1689;
    --color-shadow-highlight: #af1689;
    --color-shadow-primary: #7c065f;
    --color-text-selection: #af1689 !important;
    --color-text-hyperlink: #7c065f;
}

/* Animation heartbeat */
@keyframes heartbeat {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.1);
    }
    40% {
        transform: scale(1.2);
    }
    55% {
        transform: scale(1.1);
    }
    70% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.fa-spin {
    animation: heartbeat 1.5s infinite;
    display: inline-block;
}

.fa-spin:hover {
    animation-play-state: paused;
}

/* Logo Monsterhearts */
#logo {
    width: 220px;
    height: auto;
    padding-right: 10px;
    background: none !important;
}

/* Mise en pause */
#pause > img {
    content: url("../img/pause.svg");
    height: 492px;
    width: 374px;
    top: calc(50% - 246px);
    left: calc(50% - 187px);
    background: none !important;
}

#pause {
    font-size: 40px;
    top: 50%;
    background: none;
}

#pause > figcaption {
    color: #f7f3e8;
    position: relative;
    text-shadow:
        0 0 15px #af1689,
        0 0 30px #f1b1e1;
}

/* Variables système */
* {
    scrollbar-color: #af1689 transparent;
    scrollbar-width: thin;
}

img {
    border: none;
}

.vtt .window-app button:hover, .vtt .window-app .button:hover {
    background: #e2c2da;
}

.vtt .window-app input:not([type=range],[type=color]):hover:not(:disabled), .vtt .window-app input:not([type=range],[type=color]):focus:not(:disabled), .vtt .window-app button:not([type=range],[type=color]):hover:not(:disabled), .vtt .window-app button:not([type=range],[type=color]):focus:not(:disabled), .vtt .window-app select:not([type=range],[type=color]):hover:not(:disabled), .vtt .window-app select:not([type=range],[type=color]):focus:not(:disabled), .vtt .window-app textarea:not([type=range],[type=color]):hover:not(:disabled), .vtt .window-app textarea:not([type=range],[type=color]):focus:not(:disabled) {
    box-shadow: 0 0 5px #e2c2dac4;
}

.pbta.sheet .cell--moves .item-showMove .showable, .pbta.sheet .cell--moves .item-avatar .showable, .pbta.sheet .cell--basic-moves .item-showMove .showable, .pbta.sheet .cell--basic-moves .item-avatar .showable, .pbta.sheet .cell--starting-moves .item-showMove .showable, .pbta.sheet .cell--starting-moves .item-avatar .showable, .pbta.sheet .cell--advanced-moves .item-showMove .showable, .pbta.sheet .cell--advanced-moves .item-avatar .showable, .pbta.sheet .cell--special-moves .item-showMove .showable, .pbta.sheet .cell--special-moves .item-avatar .showable, .pbta.sheet .cell--other-moves .item-showMove .showable, .pbta.sheet .cell--other-moves .item-avatar .showable, .pbta.sheet .cell--equipment .item-showMove .showable, .pbta.sheet .cell--equipment .item-avatar .showable, .pbta.sheet .cell--spells .item-showMove .showable, .pbta.sheet .cell--spells .item-avatar .showable {
    color: #af1689;
    background: none;
}

.pbta.sheet .cell--moves .item-icon, .pbta.sheet .cell--basic-moves .item-icon, .pbta.sheet .cell--starting-moves .item-icon, .pbta.sheet .cell--advanced-moves .item-icon, .pbta.sheet .cell--special-moves .item-icon, .pbta.sheet .cell--other-moves .item-icon, .pbta.sheet .cell--equipment .item-icon, .pbta.sheet .cell--spells .item-icon {
    background-color: transparent;
}

.pbta.sheet .cell input[type=text] {
    font-size: 18px;
}

.pbta.sheet .sheet-attributes .cell--stats .stat {
    background: none;
    border: none;
    flex: 1 20%;
}
.pbta.sheet .sheet-attributes .cell--stats .stat .cell__title {
    font-size: 1.2rem;
    color: #000000;
    align-items: end;
    border-bottom: 2px solid #000000;
    transition: color 0.3s ease, border-bottom-color 0.3s ease;
}

.pbta.sheet .sheet-attributes .cell--stats .stat .cell__title:hover {
    color: #af1689;
    border-bottom: 2px solid #af1689;
}

.pbta.sheet .sheet-attributes .cell--stats .stat:hover {
    background: none;
}

.pbta.sheet .sheet-attributes .cell--stats .stat .stat-icon {
    color: #000000;
}

.pbta.sheet .sheet-attributes .cell--stats .stat .cell__title:hover .fa-dice-d6::before {
    color: #af1689;
}

.pbta.sheet .cell__title {
    margin: 10px 0 5px 0;
    padding: 5px 5px 0 0;
}

.pbta.sheet label, .pbta.sheet h1, .pbta.sheet h2 {
    padding: 5px 5px 5px 0;
}

.pbta.sheet .tabs .item.active {
    background: #af1689;
    color: #f7f7f7;
    transition: color 0.3s ease, background 0.3s ease;
}

.pbta.sheet .tabs .item {
    background: #f1b1e1;
    color: #f7f7f7;
    transition: color 0.3s ease, background 0.3s ease;
}

.pbta.sheet .tabs .item:hover {
    background: #d064b5;
    color: #f7f7f7;
}

.pbta.sheet .tabs .item {
    font-size: 1rem;
}

.pbta.sheet .sheet-wrapper .sheet-bottom .sheet-main .sheet-tabs.tabs {
    max-height: 39px;
}

.pbta.sheet .tabs {
    border-bottom: 2px solid #af1689;
}

.pbta.sheet .tabs {
    height: 42px;
}

.pbta.sheet .cell--moves .item-avatar .rollable {
    background: #af1689;
}

.sheet.journal-entry .journal-header .title {
    font-size: 1.5rem;
}

.profile-img {
    position: relative;
    height: 324px;
    width: 200px;
    border: none;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease-in-out, z-index 0.3s;
    transform: rotate(-10deg);
    object-fit: cover;
    z-index: 3;
}

.profile-img:hover {
    transform: rotate(-5deg) scale(3) translate(50px, 50px);
    z-index: 10;
}

.pbta.sheet .cell--image {
    background: none;
}

.item-group-label {
    font-size: 20px;
    font-weight: 100;
    color: black;
}

.sheet.journal-entry .journal-sidebar {
    background: #af1689;
}

h3.nue {
    border-top: 2px groove #f1b1e1;
    border-bottom: 2px groove #f1b1e1;
}

footer.nue {
    border-top: 2px groove #f1b1e1;
}

h1 {
    border-bottom: 2px solid #f1b1e1;
}

h3 {
    border-bottom: 1px dotted #f1b1e1;
}

.sheet.journal-entry .pages-list .directory-item {
    border-top: none;
    border-bottom: none;
}

.directory .directory-item {
    border-top: none;
}

.vtt .window-header {
    background: #af1689;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

#chat-controls .control-buttons {
    flex: 0 0 50px;
}

.vtt #chat-log .message.whisper {
    background: #f1d9eb;
}

.vtt .window-app .dialog-buttons .dialog-button, .vtt .window-app .dialog-button {
    background: #af1689;
}