:root {
--font-primary:ElMessiri,sans-serif
}

@font-face {
font-family:ElMessiri;
font-style:normal;
font-weight:700;
src:url(../fonts/elmessiri-bold.woff2) format("woff2"),url(../fonts/elmessiri-bold.woff) format("woff")
}

@font-face {
font-family:ElMessiri;
font-style:italic;
font-weight:700;
src:url(../fonts/elmessiri-semibold.woff2) format("woff2"),url(../fonts/elmessiri-semibold.woff) format("woff")
}

@font-face {
font-family:ElMessiri;
font-style:italic;
font-weight:400;
src:url(../fonts/elmessiri-medium.woff2) format("woff2"),url(../fonts/elmessiri-medium.woff) format("woff")
}

@font-face {
font-family:ElMessiri;
font-style:normal;
font-weight:400;
src:url(../fonts/elmessiri-regular.woff2) format("woff2"),url(../fonts/elmessiri-regular.woff) format("woff")
}

@font-face {
font-family:YellowMagician;
src:url(../fonts/YellowMagician.woff2) format("woff2"),url(../fonts/YellowMagician.woff) format("woff")
}

#logo {
content:url("../img/logo-fr.webp")
}

#pause {
font-family:YellowMagician,sans-serif;
font-variant:small-caps
}

.pbta {
font-family:ElMessiri,sans-serif
}

.pbta.sheet .cell input[type=text] {
font-family:ElMessiri,sans-serif
}

.pbta.sheet .cell__title {
font-family:YellowMagician,sans-serif;
font-variant:small-caps
}

.pbta.sheet .sheet-attributes .cell--stats .stat .cell__title {
font-family:YellowMagician,sans-serif
}

.pbta.sheet label,.pbta.sheet h1,.pbta.sheet h2 {
font-family:ElMessiri,sans-serif
}

.sheet.journal-entry .journal-header .title {
font-family:YellowMagician,sans-serif;
font-variant:small-caps
}

.vtt #chat-log .cell__title {
font-family:ElMessiri,sans-serif;
}

.vtt #chat-log .message {
font-family:ElMessiri,sans-serif;
}
    
.vtt .sidebar-tab {
font-family:ElMessiri,sans-serif
}

.vtt .window-app input:not(.fa-classic,.fa-light,.fa-regular,.fa-solid,.fa-thin,.fal,.far,.fas,.fat),.vtt .window-app button:not(.fa-classic,.fa-light,.fa-regular,.fa-solid,.fa-thin,.fal,.far,.fas,.fat),.vtt .window-app select:not(.fa-classic,.fa-light,.fa-regular,.fa-solid,.fa-thin,.fal,.far,.fas,.fat),.vtt .window-app textarea:not(.fa-classic,.fa-light,.fa-regular,.fa-solid,.fa-thin,.fal,.far,.fas,.fat) {
font-family:ElMessiri,sans-serif
}

.vtt .window-header {
font-family:ElMessiri,sans-serif
}