*.lock                 
# Ignore les fichiers de verrouillage Foundry VTT

**\_source\            
# Ignore tous les dossiers "_source"

**\sources\            
# Ignore tous les dossiers "sources"

*.afdesign             
# Ignore tous les fichiers .afdesign

*.psd                  
# Ignore tous les fichiers .psd

**\old\                
# Ignore tous les dossiers "old"

*.old                  
# Ignore tous les fichiers avec l'extension .old
